.form {
  width: 230px !important;
}

h1 {
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
 height: 100px;
 
background-color: aqua;
}